<div class="row mt-4 text-end">
  <div class="col">
    <button routerLink="/home" class="btn btn-primary" type="button">
      <span class="fa fa-arrow-left"></span>
      Regresar
    </button>
  </div>
</div>

<div class="row">
  <div class="col col-md-6">
    <h1 *ngIf="!isForToUpdate" class="mb-3">Crear Tarea</h1>
    <h1 *ngIf="isForToUpdate" class="mb-3">Actualizar Tarea</h1>

    <form #myForm="ngForm" (ngSubmit)="createOrUdateTask(myForm)">
      <input
        type="text"
        placeholder="Titulo"
        class="form-control"
        name="title"
        required
        minlength="3"
        [(ngModel)]="task.title"
      />
      <span
        *ngIf="myForm.submitted && myForm.controls['title'].errors"
        class="text-danger"
      >
        EL titulo debe contener minimo 3 caracteres
      </span>

      <textarea
        cols="30"
        rows="10"
        placeholder="Descripción"
        class="form-control mt-3"
        name="description"
        required
        minlength="1"
        [(ngModel)]="task.description"
      ></textarea>

      <span
        *ngIf="myForm.submitted && myForm.controls['description'].errors"
        class="text-danger"
      >
        Debe ingresar una descripción
      </span>

      <div class="form-group mt-2">
        <span>Completado:</span>

        <button
          (click)="toggleTaskDone()"
          *ngIf="task.done"
          type="button"
          class="btn btn-outline-success ms-2"
        >
          <span class="fa fa-smile-wink"></span>
          True
        </button>

        <button
          (click)="toggleTaskDone()"
          *ngIf="!task.done"
          type="button"
          class="btn btn-outline-danger ms-2"
        >
          <span class="fa fa-dizzy"></span>
          False
        </button>
      </div>

      <div class="form-group my-3">
        <button type="submit" class="btn btn-primary w-50">
          <span class="fa fa-save"></span>

          <span *ngIf="!isForToUpdate" class="ms-2">Crear</span>
          <span *ngIf="isForToUpdate" class="ms-2">Actualizar</span>
        </button>
      </div>
    </form>
  </div>
</div>
