<div
  [id]="task.id"
  class="card border-sencondary ms-4 my-2"
  style="min-width: 230px; max-width: 350px"
>
  <div class="card-header text-end">
    <button
      (click)="deleteTask(task.id)"
      class="btn btn-outline-danger ms-2"
      type="button"
    >
      <span class="fas fa-trash"></span>
    </button>
  </div>

  <div
    class="card-body text-primary"
    [ngClass]="{ 'text-decoration-line-through': task.done }"
  >
    <h5 class="card-title">{{ task.title }}</h5>

    <p class="card-text text-dark">
      {{ task.description }}
    </p>

    <button (click)="goToUpdateTask()" class="btn btn-warning" type="button">
      Actualizar
    </button>
  </div>
</div>
