<main class="my-4">
  <div class="row">
    <div class="col-6">
      <button
        (click)="deleteAllTasks()"
        [disabled]="taskList.length === 0"
        class="btn btn-danger"
      >
        Eliminar Tareas
      </button>
    </div>

    <div class="col-6 text-end">
      <button routerLink="/createTask" class="btn btn-primary mr-2">
        Crear Tarea
      </button>
    </div>

    <div class="row mt-5">
      <h2>Lista de tareas</h2>
      <hr />

      <div class="row">
        <div class="col">
          <div class="card-group">
            <app-task-card
              *ngFor="let task of taskList"
              [task]="task"
              (eventDeleteTask)="deleteTask($event)"
            >
            </app-task-card>

            <app-alert-card *ngIf="taskList.length === 0"> </app-alert-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
